#header{
  border-style: dashed;
  border-width: medium;
}
table, tr, td {
  border: 1px solid black;
  width: 373px;
  height: 233px;
  overflow-y: scroll;
}
p{
  font-size: 20px
}
.button {
  display: inline;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
